---
//conponent imports
import MainLayout from "../layout/MainLayout.astro";

import PostHeader from "../components/PostHeader.astro";
//utits imports

const { frontmatter } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;

---

<MainLayout {title} {description}>
<PostHeader
    {title}
    {description}
    {category}
    {image}
    {author}
 />
  <div class="post-content">
    <div class="content">
        <slot />
    </div>
    <div class="sidebar"></div>
  </div>
</MainLayout>